
  
  @media (max-width: 768px) {
    .marquee {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      animation: marquee 8.3s linear infinite; /* Adjust duration as needed */
    }
  
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }